
.btn3 {
  background-color: black;
  color: white;
  padding: 8px;
  text-decoration: none;
  border-radius: 4px;
  max-width: max-content;
}

.btn3:hover{
    color: black;
    background-color: white;
    border: 1px solid;
}

.divone {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
body {
    background-color: aqua;
}